parameters:
    # env(GEMINI_API_KEY): null
    # env(OPENAI_API_KEY): null

services:
    _defaults:
        autowire: true
        autoconfigure: true

    # OneToMany / AI / Files / Actions
    OneToMany\AI\Action\File\CacheFileAction:
        arguments:
            $fileClientFactory: '@OneToMany\AI\Factory\FileClientFactory'

    OneToMany\AI\Contract\Action\File\CacheFileActionInterface:
        alias: OneToMany\AI\Action\File\CacheFileAction

    # OneToMany / AI / Files / Clients
    OneToMany\AI\Factory\FileClientFactory:
        arguments:
            $clients: !tagged_locator { tag: 1tomany.ai.clients.file_client, default_index_method: 'getVendor' }

    OneToMany\AI\Client\Gemini\FileClient:
        arguments:
            $geminiApiKey: '%env(default::GEMINI_API_KEY)%'

    OneToMany\AI\Client\OpenAi\FileClient:
        arguments:
            $openaiApiKey: '%env(default::OPENAI_API_KEY)%'

    # OneToMany / AI / Prompts / Actions
    OneToMany\AI\Action\Prompt\CompilePromptAction:
        arguments:
            $promptClientFactory: '@OneToMany\AI\Factory\PromptClientFactory'

    OneToMany\AI\Action\Prompt\DispatchPromptAction:
        arguments:
            $promptClientFactory: '@OneToMany\AI\Factory\PromptClientFactory'

    OneToMany\AI\Contract\Action\Prompt\CompilePromptActionInterface:
        alias: OneToMany\AI\Action\Prompt\CompilePromptAction

    OneToMany\AI\Contract\Action\Prompt\DispatchPromptActionInterface:
        alias: OneToMany\AI\Action\Prompt\DispatchPromptAction

    # OneToMany / AI / Prompts / Clients
    OneToMany\AI\Factory\PromptClientFactory:
         arguments:
            $clients: !tagged_locator { tag: 1tomany.ai.clients.prompt_client, index_by: key }

    OneToMany\AI\Client\Gemini\PromptClient:
        arguments:
            $geminiApiKey: '%env(default::GEMINI_API_KEY)%'
        tags:
            - { name: 1tomany.ai.clients.prompt_client, key: gemini }

    OneToMany\AI\Client\Gemini\Serializer\PromptNormalizer:
        tags: [serializer.normalizer]

    OneToMany\AI\Client\Mock\PromptClient:
        tags:
            - { name: 1tomany.ai.clients.prompt_client, key: mock }

    OneToMany\AI\Client\Mock\Serializer\PromptNormalizer:
        tags: [serializer.normalizer]

    OneToMany\AI\Client\OpenAi\Serializer\PromptNormalizer:
        tags: [serializer.normalizer]
