services:
    _defaults:
        autowire: true
        autoconfigure: true

    # OneToMany / PHP AI Bundle
    OneToMany\AI\Factory\ClientFactory:
        abstract: true

    # OneToMany / PHP AI Bundle / Files / Actions
    OneToMany\AI\Contract\Action\File\UploadFileActionInterface:
        alias: OneToMany\AI\Action\File\UploadFileAction

    OneToMany\AI\Action\File\UploadFileAction:
        arguments:
            $clientFactory: '@OneToMany\AI\Factory\FileClientFactory'

    # OneToMany / PHP AI Bundle / Files / Clients
    OneToMany\AI\Factory\FileClientFactory:
        class: OneToMany\AI\Factory\ClientFactory
        arguments:
            $clients: !tagged_iterator { tag: 1tomany.ai.file_client }

    # OneToMany / PHP AI Bundle / Queries / Actions
    OneToMany\AI\Contract\Action\Query\CompileQueryActionInterface:
        alias: OneToMany\AI\Action\Query\CompileQueryAction

    OneToMany\AI\Contract\Action\Query\ExecuteQueryActionInterface:
        alias: OneToMany\AI\Action\Query\ExecuteQueryAction

    OneToMany\AI\Action\Query\CompileQueryAction:
        arguments:
            $clientFactory: '@OneToMany\AI\Factory\QueryClientFactory'

    OneToMany\AI\Action\Query\ExecuteQueryAction:
        arguments:
            $clientFactory: '@OneToMany\AI\Factory\QueryClientFactory'

    # OneToMany / PHP AI Bundle / Queries / Clients
    OneToMany\AI\Factory\QueryClientFactory:
        class: OneToMany\AI\Factory\ClientFactory
        arguments:
            $clients: !tagged_iterator { tag: 1tomany.ai.query_client }
